[user]
	email = wlsaidhi@gmail.com
	name = William Lin
[core]
	excludesfile = /home/magicanus/.gitignore_global
[push]
	default = simple
[url "git+ssh://wesley-wiedenmeier@git.launchpad.net/"]
    insteadof = lp:
