[user]
	email = wlsaidhi@gmail.com
	name = William Lin
[core]
	excludesfile = /home/will/.gitignore_global
[push]
	default = simple
    insteadof = lp:
[sendemail]

    from = wlsaidhi@gmail.com

    smtpserver = smtp.gmail.com

    smtpserverport = 587

    smtpencryption = tls

    smtpuser = wlsaidhi@gmail.com

    smtppass = 3.1415926535

    suppresscc = self

    chainreplyto = false
[url "https://SolitaryThinker:4b4573a7936c876041508c47888b60d7ab14bf6b@github.com"]
	insteadOf = https://github.com
[http]
	sslVerify = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
